
.Characters{
    width: 100%;
    height: 100vh;
    background-image: url(/images/background-characters.png);
    background-color: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   
  }
  
  .section{
    max-width:1600px;
    margin:0 auto;

    .name{
      display:flex;
      justify-content:center;

      h1{
        background-image: url(/images/background-name.jpg);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        word-break: break-word;
        text-align: right;

        
      }

    }
    .characters{
      display: flex;
      justify-content:space-between;
      align-items:center;
      >img{
        position: absolute;
        right:0;
        bottom:0;
        max-width: 40%;
      }
  
    }
}

.card{
  background:rgba(0,0,0,0.33);
  border-radius:1rem;
  padding:0 3rem;
  max-width:1200px;
  width:100%;
  height:100vh;

  &.MuiTabs-indicator{
    background-color: red;
}

  .menu{
      
      color: var(--text);
      display: flex;
      justify-content: center;

      ul {
          list-style-type: none;
          display:flex;
          justify-content: space-between;
          align-items: right;
          gap: 5rem;


          a{
              font-weight: 600;
              font-size: 0.9rem;
              transition: filter 0.2s;
              max-width: 300px;
              &:hover{
                  filter:brightness(0.8);
              }

              &.active{
                  position: relative;
                  &::before{
                      content: "";
                      background-color:var(--primary);
                      height: 4px;
                      width: 100%;
                      position: absolute;
                      border-radius: 10px;
                      top: 20px;
                  }
              }
          }

      }
  }

  .character{
      display:grid;
      justify-content:space-between;
      align-items:center;
      grid-template-columns: 1fr;
      position: relative;
      textarea{
          width: 40vw;
          height: 40vh;
          margin-right:5rem;
          margin-top: 5rem;
          border: 0;
          color: #fff;
          background:transparent;
          resize: none;
          padding:2rem;
          scrollbar-color: #d4aa70 #e4e4e4;
          scrollbar-width: thin;
          position: absolute;
          top: 0;
          right:5rem;

          &::-webkit-scrollbar {
              width: 8px;
          }

          &::-webkit-scrollbar-track {
              background-color: #e4e4e4;
              border-radius: 100px;

          }

          &::-webkit-scrollbar-thumb {
              border-radius: 100px;
              border: 1px solid transparent;
              background-clip: content-box;
              background-color: #ff0000;
          }
      }
      .characterSelect{
        position: relative;
        width:4vw;
        top: 5rem;
        left: 1rem;
        margin-bottom: 1rem;
        transition:transform 0.3s;
        &:hover {
            transform:scale(1.05);
        }
        img{
          object-fit: cover;
          width: 5rem;
          height: 5rem;
          border-radius:1rem;
        }
      }
      .skillsDiv{
        width: 50rem;
        height:20rem;
        margin-right:5rem;
        margin-top: 5rem;
        position: absolute;
        top: 0;
        right:5rem;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        h1{
          font-weight: 600;
          font-family: 'Poppins',sans-serif;
          font-size: 1.3rem;
        }
        h2{
          font-weight: 200;
          font-family: 'Poppins',sans-serif;
          font-size: 1rem;
        }
      
      }
      .skillGrid{
          .SkillBar > * {
            background:url(/images/background-name.jpg); 
            margin: 3px;
            margin-left: 5px;
      
            
           }
         .SkillBar{
           background-color:#C4C4C4 ;
           margin-bottom: 1rem;
           
         }
      }
      .ComicsDiv{
        width: 50rem;
        height:35rem;
        margin-right:5rem;
        margin-top: 5rem;
        position: absolute;
        top: 0;
        right:5rem; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 2;
        scrollbar-color: #d4aa70 #e4e4e4;
        scrollbar-width: thin;
        overflow-y: auto;
        overflow-x: hidden;

        h1{
          width: 100%;
          position: absolute;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-self: center;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #e4e4e4;
            border-radius: 100px;

        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            border: 1px solid transparent;
            background-clip: content-box;
            background-color: #ff0000;
        }
        padding: 1rem;
        div{
          margin-bottom: 2rem;
          transition:transform 0.3s;
          h2{
            font-size: 0.8rem;
          }
          &:hover{
            transform:scale(1.05);

          }
          img{
            width: 8vw;
            height: 15vh;
            border: 3px solid white;
          }
        }
      }


  }

}