
.Characters{
    width: 100%;
    height: 100vh;
    background-image: url(/images/background-characters.png);
    background-color: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   
  }
  
  .section{
    max-width:1600px;
    margin:0 auto;

    .name{
      display:flex;
      justify-content:center;

      h1{
        background-image: url(/images/background-name.jpg);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        word-break: break-word;
        text-align: right;

        
      }

    }
    .characters{
      display: flex;
      justify-content:space-between;
      align-items:center;
      img{
        position: absolute;
        right:0;
        top:10rem;
      }
  
    }

  }