
.Characters{
    width: 100%;
    height: 100vh;
    background-image: url(/images/background-characters.png);
    background-color: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   
  }
  
  .section{
    max-width:1600px;
    margin:0 auto;

    .name{
      display:flex;
      justify-content:center;

      h1{
        background-image: url(/images/background-name.jpg);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        word-break: break-word;
        text-align: right;

        
      }

    }
    .characters{
      display: flex;
      justify-content:space-between;
      align-items:center;
      >img{
        position: absolute;
        right:0;
        bottom:0;
      }
  
    }
}

.card{
  background:rgba(0,0,0,0.33);
  border-radius:1rem;
  padding:0 3rem;
  max-width:1200px;
  width:1200px;
  height:100rem;

  .menu{
      
      color: var(--text);
      display: flex;
      justify-content: center;

      ul {
          list-style-type: none;
          display:flex;
          justify-content: space-between;
          align-items: right;
          gap: 5rem;


          a{
              font-weight: 600;
              font-size: 0.9rem;
              transition: filter 0.2s;
              max-width: 300px;
              &:hover{
                  filter:brightness(0.8);
              }

              &.active{
                  position: relative;
                  &::before{
                      content: "";
                      background-color:var(--primary);
                      height: 4px;
                      width: 110%;
                      position: absolute;
                      border-radius: 10px;
                      top: 20px;
                  }
              }
          }

      }
  }

  .character{
      display:grid;
      justify-content:space-between;
      align-items:center;
      grid-template-columns: 1fr;
      position: relative;

      textarea{
          width: 50rem;
          height:20rem;
          margin-right:5rem;
          margin-top: 5rem;
          border: 0;
          color: #fff;
          background:transparent;
          resize: none;
          padding:2rem;
          scrollbar-color: #d4aa70 #e4e4e4;
          scrollbar-width: thin;
          position: absolute;
          top: 0;
          right:5rem;

          &::-webkit-scrollbar {
              width: 8px;
          }

          &::-webkit-scrollbar-track {
              background-color: #e4e4e4;
              border-radius: 100px;

          }

          &::-webkit-scrollbar-thumb {
              border-radius: 100px;
              border: 1px solid transparent;
              background-clip: content-box;
              background-color: #ff0000;
          }
      }
      .characterSelect{
        position: relative;
        width:5rem;
        height:5rem;
        top: 5rem;
        left: 1rem;
        margin-bottom: 1rem;
        img{
          object-fit: cover;
          width: 5rem;
          height: 5rem;
          border-radius:1rem;
        }
      }


  }

}


