
.home{
  width: 100%;
  height: 100vh;
  background-image: url(/images/background-home.png);
  background-color: var(--background);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
 
}

.section{
  max-width:1600px;
  display: flex;
  justify-content:space-between;
  align-items:center;

  .doctor{
    position: absolute;
    bottom: -4rem;
    z-index: 9999;

    .bgdoctor{
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      opacity: 0.5;

      animation: rotation 100s infinite linear;
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }

  }
  .intro{
    position: absolute;
    right: 20vw;
    top: 13vw;
    div{
      font-weight: 600;
      font-size: 0.9rem;
      transition: filter 0.2s;
      max-width: 500px;
      max-height:300px;
      overflow: hidden;
      display: flex;
      align-items:center;
      justify-content:center;
      position: relative;
      border:2px solid var(--text);
      border-radius:0.3rem;
      cursor: pointer;
      transition: filter 0.2s;
      &:hover{
        filter:brightness(0.8);
    }

      svg{
        position: absolute;
        font-size: 5rem;
      }

      &:hover{
          filter:brightness(0.8);
      }

      &.active{
          position: relative;
          &::before{
              content: "";
              background-color:var(--primary);
              height: 4px;
              width: 110%;
              position: absolute;
              border-radius: 10px;
              top: 20px;
          }
      }
  }

    span{
      font-size:2rem;
      line-height:4rem;

      h1{
        font-size:4.5rem;
        font-weight:900;
        margin-bottom:1rem;
      }
    }
  }
}
.closemodal{

  position: absolute;
  right: 0;
  background: transparent;
  border:0;
  transition:filter 0.3s;


  &:hover{

    svg{
      filter:opacity(0.8);
    }
    
  }

  svg{
    color: white;
    font-size:2rem;
  }
  
}



