.header{
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 2rem;
}


    .logo{
        img{
            width: 10rem;
            transition: all .3s ease-in-out;
            cursor:pointer;
            &:hover{
                filter: brightness(0.8);
                transform: scale(1.1);
            }
        }

    }

    .menu{
        color: var(--text);
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        ul {
            list-style-type: none;
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;


            a{
                font-weight: 600;
                font-size: 0.9rem;
                transition: filter 0.2s;
                max-width: 300px;
                &:hover{
                    filter:brightness(0.8);
                }

                &.active{
                    position: relative;
                    &::before{
                        content: "";
                        background-color:var(--primary);
                        height: 4px;
                        width: 110%;
                        position: absolute;
                        border-radius: 10px;
                        top: 20px;
                    }
                }
            }
 
        }

        .social{
            color: var(--text);
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            transition: filter 0.2s;
            &:hover{
                filter:brightness(0.8);
            }
        }
    

    }


